.root {
    padding: 48px 80px;
    width: calc(100% - 160px);
    font-family: 'Windsor';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #000000;
}

@media (max-width: 860px) {
    .root {
        width: calc(100% - 32px);
        padding: 24px 16px;
        font-size: 32px;
    }
}
