.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: min(100%, 1440px);
  height: 380px;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.contentContainer {
  display: flex;
  height: 316px;
  flex: 1;
  padding: 32px 74px 32px 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(88, 142, 136, 0.1);
  position: relative;
}

.contentNoImageContainer {
  display: flex;
  flex: 1;
  height: 316px;
  padding: 32px 64px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(88, 142, 136, 0.1);
  position: relative;
}

.imageContainer {
  display: flex;
  border: 1px solid #DCEADC;
  height: 378px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: -10px;
  margin-right: -20px;
  position: relative;
  object-fit: cover;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.type {
  font-family: Nimbus;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #EF845C;
  overflow: hidden;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title {
  margin-top: 8px;
  font-family: Windsor;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  overflow: hidden;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.description {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: SuisseIntl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  overflow: hidden;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


@media only screen and (max-width: 1280px) {
  .contentContainer {
    display: flex;
    height: 316px;
    flex: 1;
    padding: 32px 50px 32px 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgba(88, 142, 136, 0.1);
    position: relative;
  }
  .type {
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .title {
    margin-top: 8px;
    font-size: 24px;
    line-height: 28px;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .description {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

@media only screen and (max-width: 860px) {
  .root {
    flex-direction: column-reverse;
    height: 100%;
  }
  .contentContainer {
    flex: 1;
    margin-top: -10px;
    padding: 26px 16px 16px;
    height: unset;
    align-items: center;
  }
  .contentNoImageContainer {
    flex: unset;
    padding: 16px 16px 16px;
    height: 100%;
    align-items: center;
  }
  .imageContainer {
    margin: 0;
    flex: unset;
    height: unset;
    width: calc(100vw - 34px);
    border-radius: 10px;
    overflow: hidden;
  }
  .type {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .title {
    margin-top: 8px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .description {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
