.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    font-family: Windsor;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.text {
    font-family: SuisseIntl;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 40px;
}

.question {
    font-family: SuisseIntl;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    width: 100%;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 18px;
}

.input {
    padding: 32px 20px 20px;
    display: flex;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 190px;
}

.textarea {
    display: flex;
    padding: 0;
    border: none;
    width: 100%;
    outline: none;
    font-family: SuisseIntl;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    resize: none;
    overflow-y: visible;
}

.label {
    top: 10px;
    transform: scale(1);

    position: absolute;
    left: 20px;
    font-size: 10px;
    font-family: SuisseIntl;
    transform-origin: top left;
    line-height: 13px;
    color: #0E5E0F;

    transition: 300ms;
}

.textarea:invalid ~ .label {
    top: 15px;
    transform: scale(1.4);
}

.textarea:focus ~ .label {
    top: 10px;
    transform: scale(1);
}

.count {
    position: absolute;
    top: 10px;
    right: 20px;

    font-family: SuisseIntl;
    font-size: 10px;
    line-height: 13px;
    color: #0E5E0F;
}

.appearance {
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.1;
    border: 1px solid #0E5E0F;
    background: #ffffff;
    transition: 300ms;
    pointer-events: none;
}

.textarea:invalid ~ .appearance {
    border-color: #61AB62;
    background: #61AB62;
}

.textarea:focus ~ .appearance {
    border-color: #0E5E0F;
    background: #ffffff;
}

.cancel {
    padding: 17px;
    font-family: SuisseIntl;
    font-size: 14px;
    line-height: 18px;
    color: #EF845C;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.cancel:hover {
    transform: scale(1.05);
}
.cancel:active {
    transform: scale(0.95);
}

.icon {
    border-radius: 10px;
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
}

.rating {
    margin-bottom: 45px;
    width: 100%;
}

.error {
    font-family: SuisseIntl;
    font-size: 12px;
    color: #EF845C;
}

@media only screen and (max-width: 560px) {
    .root {
        height: unset;
        width: calc(100vw - 64px);
        padding: 24px 16px 20px;
        flex-direction: column;
    }
    .title {
        font-size: 18px;
        line-height: 100%;
    }
    .text {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 24px;
    }
    .input {
        padding: 24px 16px 16px;
        height: 156px;
    }
    .count {
        right: 16px;
    }
    .label{
        left: 16px;
    }
    .question {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 16px;
    }
    .rating {
        width: unset;
        margin-bottom: 24px;
    }
}
